@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
     font-family: "Quicksand", sans-serif;
}

html,body{
     ::-webkit-scrollbar {
           width: 10px;
     }
}